<!doctype html>
<html lang="en" ng-app="scheduler">
<head>
  <meta charset="UTF-8">
  <title>Scheduler</title>
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/scheduler.css">
  <script src="//use.edgefonts.net/montez.js"></script>
</head>
<body ng-controller="MainController">
  
  <div id="header">
    <h1>Scheduler</h1>
  </div>
  
  <div id="main" ng-controller="ScheduleViewController">
    
    <div class="text-muted section-types">
      <span class="glyphicon glyphicon-book"></span> Lecture &middot; 
      <span class="glyphicon glyphicon-send"></span> Lab
    </div>
    
    <div id="schedule">
      
      <ng-include src="'template/schedule.html'"></ng-include>
      <ng-include src="'template/credits.html'"></ng-include>
      
      <div class="buttons">
        <a ng-show="facebook.loggedIn" class="btn btn-lg btn-default" href="my.php">
          My Saved Schedules
        </a>
        <button class="btn btn-lg btn-primary" ng-click="saveSchedule()">
          Save Schedule
        </button>
      </div>
    
    </div>
    
    
    <div class="info-table">
      <ng-include src="'template/info-table.html'"></ng-include>
    </div>
    
  </div>
  
  <div id="sidebar">
    
    <div id="course-toolbar">
      <button class="add-button" ng-click="addCourse()">
        <i class="glyphicon glyphicon-plus"></i>
      </button>
      <h2>Courses</h2>
    </div>
    
    <div class="subjects">
      
      <div class="alert alert-default text-muted" ng-show="courses.length == 0">
        <p><strong>Get started.</strong> Please add a course to your timetable by clicking the <i class="glyphicon glyphicon-plus"></i> button above, or "Import from KU" below.</p>
      </div>
      
      <div class="subject-pick" ng-repeat="course in courses">
        <h3><a href="javascript://" ng-click="editCourse(course)">{{course.courseName}}
          <i class="glyphicon glyphicon-pencil"></i>
        </a></h3>

        <ul class="clearfix">
          <li
            ng-repeat="section in course.sections"><a
            href="javascript://"
            ng-mouseenter="section.preview = true"
            ng-mouseleave="section.preview = false"
            ng-class="{ active: !!section.selected }"
            ng-click="section.selected = !section.selected">{{section.sectionNo}}</a></li>
        </ul>

      </div>
      
    </div>
    
    <div id="import-toolbar">
      <button class="btn btn-default" ng-click="importFromKU()">Import from KU</button>
    </div>
    
  </div>
  
  <div class="modal fade" id="edit-modal">
    <ng-include src="'template/editor.html'"></ng-include>
  </div>
  
  <div class="modal fade" id="save-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="form-horizontal" ng-controller="SaveController" name="saveForm">
      
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Save Schedule</h4>
          </div>
          
          <div class="modal-body">
            <div class="form-group">
              <label class="col-sm-4 control-label">Schedule Owner</label>
              <div class="col-sm-6">
                <div ng-show="!facebook.loggedIn">
                  <p><button type="button" class="btn btn-primary" ng-click="facebook.login()">Sign in with Facebook</button></p>
                  Please login with Facebook. Otherwise, your schedule may be deleted after 15 days.
                </div>
                <div ng-show="facebook.loggedIn">
                  <p class="form-control-static">{{facebook.me.name}} (<a href="javascript://" ng-click="facebook.logout()">Logout?</a>)</p>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label for="save-schedule-name" class="col-sm-4 control-label">Schedule Name</label>
              <div class="col-sm-6"><input id="save-schedule-name" ng-model="info.name" type="text" class="form-control" required></div>
            </div>
          </div>
          
          <div class="modal-footer">
            <div ng-show="!saving">
              <button type="button" class="btn btn-success" ng-click="save()" ng-disabled="!saveForm.$valid">Save Schedule</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
            <div ng-show="saving">
              Saving Your Schedule...
            </div>
          </div>
        
        </form>
    
      </div>
    </div>
  
  </div>
    
  
  <div class="modal fade" id="ku-import-modal">
    <ng-include src="'template/import.html'"></ng-include>  
  </div>
    
  <script src="vendor/jquery/jquery-2.0.3.min.js"></script>
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular-easyfb/angular-easyfb.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  
  <script src="js/scheduler.js"></script>
  <script src="js/facebook.js"></script>
  <script src="js/editor.js"></script>
  <script src="js/import.js"></script>
  <script src="js/view.js"></script>
  <script src="vendor/ui-utils/ui-utils.min.js"></script>
  
</body>
</html>