<!doctype html>
<html lang="en" ng-app="scheduler">
<head>
  <meta charset="UTF-8">
  <title>Scheduler</title>
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/scheduler.css">
  <script src="//use.edgefonts.net/montez.js"></script>
</head>
<body ng-controller="MainController">
  
  <div id="header">
    <h1>Scheduler</h1>
  </div>
  
  <div id="main">
    <div id="schedule">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias officia facilis libero cumque vel culpa nobis eius ullam voluptatibus incidunt! Est libero eum aliquid repellat tempora eaque laborum asperiores corporis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, quod quaerat nihil. Doloribus, eos aut maiores eaque facere ab pariatur id. Fugiat cum unde libero ipsa natus at optio saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, hic, quo repellendus at repudiandae qui dolores quasi accusamus iste dolore repellat quos doloremque vitae iure quibusdam quisquam praesentium laudantium natus.
    </div>
    
    <div class="info-table">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Subject [Section]</th>
            <th>Time</th>
            <th>Place</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2">
              01234567 <strong>Database Systems</strong> [450]
            </td>
            <td>
              Monday 12:00 - 13:00
            </td>
            <td>
              That
            </td>
          </tr>
          <tr>
            <td>
              Friday 14:00 - 16:00
            </td>
            <td>
              Doko
            </td>
          </tr>
          
          
          <tr>
            <td rowspan="2">
              01234567 <strong>Database Systems</strong> [450]
            </td>
            <td>
              Monday 12:00 - 13:00
            </td>
            <td>
              That
            </td>
          </tr>
          <tr>
            <td>
              Friday 14:00 - 16:00
            </td>
            <td>
              Doko
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
  
  <div id="sidebar">
    
    <div id="course-toolbar">
      <button class="add-button">
        <i class="glyphicon glyphicon-plus" ng-click="addCourse()"></i>
      </button>
      <h2>Courses</h2>
    </div>
    
    <div class="subjects">
      
      <div class="subject-pick" ng-repeat="course in courses">
        <h3><a href="javascript://" ng-click="editCourse(course)">{{course.courseName}}
          <i class="glyphicon glyphicon-pencil"></i>
        </a></h3>

        <ul class="clearfix">
          <li ng-repeat="section in course.sections"><a href="#">{{section.sectionNo}}</a></li>
        </ul>

      </div>
      
    </div>
    <div id="import-toolbar">
      <button class="btn btn-default">Import from KU</button>
    </div>
    
  </div>
  
  <div class="modal fade" id="edit-modal">
    <ng-include src="'template/editor.html'"></ng-include>
  </div>
  
  <script src="vendor/jquery/jquery-2.0.3.min.js"></script>
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  
  <script src="js/scheduler.js"></script>
  <script src="js/editor.js"></script>
  <script src="vendor/ui-utils/ui-utils.min.js"></script>
  
</body>
</html>